<% provide(:title, 'Edycja uzytkownika') %>
<h1>Mozesz teraz uaktualnic swoj profil</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
			<%= render 'fields', f: f %>
			
			<%= f.submit 'Zapisz zmiany', class: 'btn btn-large btn-primary' %>
		<% end %>

		<%= gravatar_for @user %>
		<%= link_to 'zmien', "http://gravatar.com/emails", target: '_blank' %>
	</div>
</div>